# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nyc_taxi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_ENGINE_TYPE=postgresql

# Pipeline Settings
DEFAULT_YEAR=2025
DEFAULT_MONTHS=[1,2,3,4,5,6,7,8,9,10,11,12]
LOG_LEVEL=INFO

# AWS S3 Future Cloud Extensibility
STORAGE_TYPE=local
S3_BUCKET=nyc-taxi-data-lake
AWS_REGION=us-east-1
